In [459]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)

#df = pd.read_csv("data/^990100-USD-STRD (1).csv")
df = pd.read_csv("data/^SPX (1).csv")

df = df.dropna(axis=0)

df["Date"] = pd.to_datetime(df["Date"])
df = df[df["Date"] >= "1994-03-08"]
#df.to_csv("data/SP500_Tobi_30j.csv")

df

,Date,Open,High,Low,Close,Adj Close,Volume
16608,1994-03-08,466.920013,467.790009,465.019989,465.880005,465.880005,298110000
16609,1994-03-09,465.940002,467.420013,463.399994,467.059998,467.059998,309810000
16610,1994-03-10,467.079987,467.290009,462.459991,463.899994,463.899994,369370000
16611,1994-03-11,463.859985,466.609985,462.540009,466.440002,466.440002,303890000
16612,1994-03-14,466.440002,467.600006,466.079987,467.390015,467.390015,260150000
...,...,...,...,...,...,...,...
24155,2024-02-29,5085.359863,5104.990234,5061.890137,5096.270020,5096.270020,5219740000
24156,2024-03-01,5098.509766,5140.330078,5094.160156,5137.080078,5137.080078,4748110000
24157,2024-03-04,5130.990234,5149.669922,5127.180176,5130.950195,5130.950195,4758440000
24158,2024-03-05,5110.520020,5114.540039,5056.819824,5078.649902,5078.649902,4418410000
24159,2024-03-06,5108.029785,5127.970215,5092.220215,5104.759766,5104.759766,4559050000

In [460]:
def calc_returns(prices):
    returns = [0]
    counter = len(prices)
    for i in range(1, counter):
        ret = prices[i] / prices[i-1] - 1
        returns.append(ret)
    return returns

df["daily_movement"] = calc_returns(df["Adj Close"].to_list())
df["daily_movement_2x"] = df["daily_movement"] * 2
df["daily_movement_3x"] = df["daily_movement"] * 3
df

,Date,Open,High,Low,Close,Adj Close,Volume,daily_movement,daily_movement_2x,daily_movement_3x
16608,1994-03-08,466.920013,467.790009,465.019989,465.880005,465.880005,298110000,0.000000,0.000000,0.000000
16609,1994-03-09,465.940002,467.420013,463.399994,467.059998,467.059998,309810000,0.002533,0.005066,0.007598
16610,1994-03-10,467.079987,467.290009,462.459991,463.899994,463.899994,369370000,-0.006766,-0.013531,-0.020297
16611,1994-03-11,463.859985,466.609985,462.540009,466.440002,466.440002,303890000,0.005475,0.010951,0.016426
16612,1994-03-14,466.440002,467.600006,466.079987,467.390015,467.390015,260150000,0.002037,0.004073,0.006110
...,...,...,...,...,...,...,...,...,...,...
24155,2024-02-29,5085.359863,5104.990234,5061.890137,5096.270020,5096.270020,5219740000,0.005229,0.010458,0.015687
24156,2024-03-01,5098.509766,5140.330078,5094.160156,5137.080078,5137.080078,4748110000,0.008008,0.016016,0.024023
24157,2024-03-04,5130.990234,5149.669922,5127.180176,5130.950195,5130.950195,4758440000,-0.001193,-0.002387,-0.003580
24158,2024-03-05,5110.520020,5114.540039,5056.819824,5078.649902,5078.649902,4418410000,-0.010193,-0.020386,-0.030579
24159,2024-03-06,5108.029785,5127.970215,5092.220215,5104.759766,5104.759766,4559050000,0.005141,0.010282,0.015423

In [461]:
# cum returns
def cum_returns(returns):
    cum_returns = [1]
    counter = len(returns)
    for i in range(1, counter):
        ret = (returns[i] + 1) * cum_returns[i-1]
        cum_returns.append(ret)
    return cum_returns

df["cum_return"] = cum_returns(df["daily_movement"].to_list())
df["cum_return_2x"] = cum_returns(df["daily_movement_2x"].to_list())
df["cum_return_3x"] = cum_returns(df["daily_movement_3x"].to_list())
df

,Date,Open,High,Low,Close,Adj Close,Volume,daily_movement,daily_movement_2x,daily_movement_3x,cum_return,cum_return_2x,cum_return_3x
16608,1994-03-08,466.920013,467.790009,465.019989,465.880005,465.880005,298110000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
16609,1994-03-09,465.940002,467.420013,463.399994,467.059998,467.059998,309810000,0.002533,0.005066,0.007598,1.002533,1.005066,1.007598
16610,1994-03-10,467.079987,467.290009,462.459991,463.899994,463.899994,369370000,-0.006766,-0.013531,-0.020297,0.995750,0.991466,0.987147
16611,1994-03-11,463.859985,466.609985,462.540009,466.440002,466.440002,303890000,0.005475,0.010951,0.016426,1.001202,1.002323,1.003362
16612,1994-03-14,466.440002,467.600006,466.079987,467.390015,467.390015,260150000,0.002037,0.004073,0.006110,1.003241,1.006406,1.009493
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24155,2024-02-29,5085.359863,5104.990234,5061.890137,5096.270020,5096.270020,5219740000,0.005229,0.010458,0.015687,10.939019,41.057527,51.769639
24156,2024-03-01,5098.509766,5140.330078,5094.160156,5137.080078,5137.080078,4748110000,0.008008,0.016016,0.024023,11.026616,41.715090,53.013326
24157,2024-03-04,5130.990234,5149.669922,5127.180176,5130.950195,5130.950195,4758440000,-0.001193,-0.002387,-0.003580,11.013459,41.615536,52.823550
24158,2024-03-05,5110.520020,5114.540039,5056.819824,5078.649902,5078.649902,4418410000,-0.010193,-0.020386,-0.030579,10.901197,40.767153,51.208243
24159,2024-03-06,5108.029785,5127.970215,5092.220215,5104.759766,5104.759766,4559050000,0.005141,0.010282,0.015423,10.957242,41.186329,51.998043

In [462]:
# visual
import plotly.express as px
import chart_studio.plotly as py
import plotly.graph_objects as go
#df[["Date", "cum_return", "cum_return_2x", "cum_return_3x"]].set_index("Date").plot()


fig = px.line(df, x="Date", y=["cum_return", "cum_return_2x", "cum_return_3x"])
fig.write_html('figures/first_figure.html', auto_open=True)

In [463]:
# adj close
df["adj_close_2x"] = df["cum_return_2x"] * df["Adj Close"].to_list()[0]
df["adj_close_3x"] = df["cum_return_3x"] * df["Adj Close"].to_list()[0]
df["adj_close"] = df["cum_return"] * df["Adj Close"].to_list()[0]
df

,Date,Open,High,Low,Close,Adj Close,Volume,daily_movement,daily_movement_2x,daily_movement_3x,cum_return,cum_return_2x,cum_return_3x,adj_close_2x,adj_close_3x,adj_close
16608,1994-03-08,466.920013,467.790009,465.019989,465.880005,465.880005,298110000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,465.880005,465.880005,465.880005
16609,1994-03-09,465.940002,467.420013,463.399994,467.059998,467.059998,309810000,0.002533,0.005066,0.007598,1.002533,1.005066,1.007598,468.239991,469.419984,467.059998
16610,1994-03-10,467.079987,467.290009,462.459991,463.899994,463.899994,369370000,-0.006766,-0.013531,-0.020297,0.995750,0.991466,0.987147,461.904016,459.892071,463.899994
16611,1994-03-11,463.859985,466.609985,462.540009,466.440002,466.440002,303890000,0.005475,0.010951,0.016426,1.001202,1.002323,1.003362,466.962175,467.446261,466.440002
16612,1994-03-14,466.440002,467.600006,466.079987,467.390015,467.390015,260150000,0.002037,0.004073,0.006110,1.003241,1.006406,1.009493,468.864328,470.302448,467.390015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24155,2024-02-29,5085.359863,5104.990234,5061.890137,5096.270020,5096.270020,5219740000,0.005229,0.010458,0.015687,10.939019,41.057527,51.769639,19127.880705,24118.439732,5096.270020
24156,2024-03-01,5098.509766,5140.330078,5094.160156,5137.080078,5137.080078,4748110000,0.008008,0.016016,0.024023,11.026616,41.715090,53.013326,19434.226294,24697.848743,5137.080078
24157,2024-03-04,5130.990234,5149.669922,5127.180176,5130.950195,5130.950195,4758440000,-0.001193,-0.002387,-0.003580,11.013459,41.615536,52.823550,19387.846042,24609.435722,5130.950195
24158,2024-03-05,5110.520020,5114.540039,5056.819824,5078.649902,5078.649902,4418410000,-0.010193,-0.020386,-0.030579,10.901197,40.767153,51.208243,18992.601501,23856.896338,5078.649902
24159,2024-03-06,5108.029785,5127.970215,5092.220215,5104.759766,5104.759766,4559050000,0.005141,0.010282,0.015423,10.957242,41.186329,51.998043,19187.887355,24224.848647,5104.759766

In [464]:
# visual
import plotly.express as px
import chart_studio.plotly as py
import plotly.graph_objects as go

fig = px.line(df, x="Date", y=["adj_close", "adj_close_2x", "adj_close_3x"])
fig.write_html('figures/first_figure0.html', auto_open=True)

In [465]:
# moving average
from statistics import mean

def moving_average(data, days):
    avg = [np.NaN] * days
    data = data.to_list()
    
    for i in range(days, len(data)):
        subset = data[i-days:i]
        avg.append(mean(subset))

    return avg

#df["mavg_300_adj_close"] = moving_average(df.adj_close, 300)
#df["mavg_300_adj_close_2x"] = moving_average(df.adj_close_2x, 300)
#df["mavg_300_adj_close_3x"] = moving_average(df.adj_close_3x, 300)
df["mavg_200_adj_close"] = moving_average(df.adj_close, 200)
df["mavg_200_adj_close_2x"] = moving_average(df.adj_close_2x, 200)
df["mavg_200_adj_close_3x"] = moving_average(df.adj_close_3x, 200)
df["mavg_100_adj_close"] = moving_average(df.adj_close, 100)
df["mavg_100_adj_close_2x"] = moving_average(df.adj_close_2x, 100)
df["mavg_100_adj_close_3x"] = moving_average(df.adj_close_3x, 100)
df.dropna(axis=0)

,Date,Open,High,Low,Close,Adj Close,Volume,daily_movement,daily_movement_2x,daily_movement_3x,cum_return,cum_return_2x,cum_return_3x,adj_close_2x,adj_close_3x,adj_close,mavg_200_adj_close,mavg_200_adj_close_2x,mavg_200_adj_close_3x,mavg_100_adj_close,mavg_100_adj_close_2x,mavg_100_adj_close_3x
16808,1994-12-21,457.239990,461.700012,457.170013,459.609985,459.609985,379130000,0.005491,0.010982,0.016473,0.986542,0.965446,0.937193,449.782178,436.619505,459.609985,457.926450,448.397302,437.389380,462.411500,456.391410,447.929640
16809,1994-12-22,459.619995,461.209991,459.329987,459.679993,459.679993,340330000,0.000152,0.000305,0.000457,0.986692,0.965741,0.937621,449.919200,436.819024,459.679993,457.895100,448.316813,437.243078,462.397500,456.345955,447.836740
16810,1994-12-23,459.700012,461.320007,459.390015,459.829987,459.829987,196540000,0.000326,0.000653,0.000979,0.987014,0.966371,0.938539,450.212818,437.246627,459.829987,457.858200,448.225209,437.080073,462.388700,456.310740,447.758893
16811,1994-12-27,459.850006,462.730011,459.850006,462.470001,462.470001,211180000,0.005741,0.011483,0.017224,0.992681,0.977467,0.954704,455.382416,444.777697,462.470001,457.837850,448.166753,436.966846,462.372500,456.260936,447.659546
16812,1994-12-28,462.470001,462.489990,459.000000,460.859985,460.859985,246260000,-0.003481,-0.006963,-0.010444,0.989225,0.970661,0.944733,452.211733,440.132427,460.859985,457.818000,448.108854,436.853503,462.413200,456.323001,447.724181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24155,2024-02-29,5085.359863,5104.990234,5061.890137,5096.270020,5096.270020,5219740000,0.005229,0.010458,0.015687,10.939019,41.057527,51.769639,19127.880705,24118.439732,5096.270020,4517.782695,15154.682034,17211.594107,4645.448701,15985.400442,18580.360119
24156,2024-03-01,5098.509766,5140.330078,5094.160156,5137.080078,5137.080078,4748110000,0.008008,0.016016,0.024023,11.026616,41.715090,53.013326,19434.226294,24697.848743,5137.080078,4522.643645,15187.013808,17266.187953,4653.829502,16042.370357,18678.416770
24157,2024-03-04,5130.990234,5149.669922,5127.180176,5130.950195,5130.950195,4758440000,-0.001193,-0.002387,-0.003580,11.013459,41.615536,52.823550,19387.846042,24609.435722,5130.950195,4527.647646,15220.502760,17323.093142,4662.115303,16099.230038,18777.194394
24158,2024-03-05,5110.520020,5114.540039,5056.819824,5078.649902,5078.649902,4418410000,-0.010193,-0.020386,-0.030579,10.901197,40.767153,51.208243,18992.601501,23856.896338,5078.649902,4532.752898,15254.572101,17380.830223,4670.068203,16153.892575,18872.285177
24159,2024-03-06,5108.029785,5127.970215,5092.220215,5104.759766,5104.759766,4559050000,0.005141,0.010282,0.015423,10.957242,41.186329,51.998043,19187.887355,24224.848647,5104.759766,4537.352297,15285.170068,17432.474832,4677.272300,16203.152597,18957.491292

In [466]:
# visual
import plotly.express as px
import chart_studio.plotly as py
import plotly.graph_objects as go

fig = px.line(df, x="Date", y=[
    "adj_close_3x",
    "mavg_100_adj_close_3x",
    "mavg_200_adj_close_3x"
])
fig.write_html('figures/first_figure2.html', auto_open=True)

In [513]:
"""
Investment Strategy: Sell when adj_close < moving average, buy when adj_close > moving average
"""

df = df.dropna(axis=0)

def apply_strategy(start_amount, adj_close, mavg, returns, ter, tax=0.25*0.7, transaction_cost=1, spread=0.02):
    operations = ["buy"]
    operations_balance = [start_amount]
    balance = []
    buys = {"buy": [], "index": []}
    sells = {"sell": [], "index": []}
    adj_close = adj_close.to_list()
    mavg = mavg.to_list()
    returns = returns.to_list()
    
    for i in range(len(adj_close)):
        # claculate return for the day if in the market
        if operations[-1] == "buy":
            start_amount = start_amount * (1 + returns[i])

        balance.append(start_amount)

        #print("Amount:", start_amount, "Operation:", operations[-1], "Price:", adj_close[i], "AVG:", mavg[i], "Index:", i)

        # buy, if not in the market and adj close price rises above avg
        if adj_close[i] > mavg[i] and operations[-1] != "buy":
            operations.append("buy")
            #start_amount = start_amount * (1 + returns[i] / 2)
            operations_balance.append(start_amount)
            # transaction_cost
            start_amount = start_amount - transaction_cost
            # save buy
            buys["buy"].append(adj_close[i])
            buys["index"].append(i)
        # sell, if in the maket and dj close price falls below avg
        elif adj_close[i] < mavg[i] * 0.78 and operations[-1] != "sell":
            operations.append("sell")
            #start_amount = start_amount / (1 + returns[i]) * (adj_close[i] < mavg[i])
            # tax
            if start_amount > operations_balance[-1]:
                start_amount = start_amount - (start_amount - operations_balance[-1]) * tax
            # spread
            start_amount = start_amount * (1 - spread)
            # transaction_cost
            start_amount = start_amount - transaction_cost
            # save sell
            sells["sell"].append(adj_close[i])
            sells["index"].append(i)

        # TER
        if i % 200 == 0:
            start_amount = start_amount * (1 - ter)

    print(len(operations))
    print(start_amount)
    return balance, buys, sells
        
amount = df["adj_close_3x"].to_list()[0]
balance_100, _, sells = apply_strategy(amount, df.adj_close_3x, df.mavg_100_adj_close_3x, df.daily_movement_3x, 0.0075)
balance_200, _, sells = apply_strategy(amount, df.adj_close_3x, df.mavg_200_adj_close_3x, df.daily_movement_3x, 0.0075)
#balance_300 = apply_strategy(amount, df.adj_close_3x, df.mavg_300_adj_close_3x, df.daily_movement_3x, 0.0075)
base, _1, _2 = apply_strategy(amount, df.adj_close, df.adj_close, df.daily_movement, 0.001)

comp = pd.DataFrame({"avg 100": balance_100, "avg 200": balance_200, "base (wo trading and leverage)": base})
comp = comp.reset_index()
comp["date"] = df["Date"].to_list()
comp["mavg_200_adj_close_3x"] = df["mavg_200_adj_close_3x"].to_list() #/ df["adj_close_3x"].to_list()[0] * amount
comp["mavg_200_adj_close_3x"] = comp["mavg_200_adj_close_3x"] / df["adj_close_3x"].to_list()[0] * amount
comp["adj_close_3x"] = df["adj_close_3x"].to_list()
comp = comp.reset_index()

fig = px.line(comp, x="index", y=["avg 200", "base (wo trading and leverage)", "mavg_200_adj_close_3x", "adj_close_3x"])
fig = fig.add_scatter(x=_["index"], y=_["buy"], mode="markers")
fig = fig.add_scatter(x=sells["index"], y=sells["sell"], mode="markers")
fig.update_traces(marker=dict(size=10))
fig.write_html('figures/first_figure4.html', auto_open=True)
comp

33
9731.739438646908
23
28964.610600986023
1
4698.835912052634

,level_0,index,avg 100,avg 200,base (wo trading and leverage),date,mavg_200_adj_close_3x,adj_close_3x
0,0,0,443.812061,443.812061,439.017024,1994-12-21,437.389380,436.619505
1,1,1,440.684755,440.684755,438.644811,1994-12-22,437.243078,436.819024
2,2,2,441.116142,441.116142,438.787942,1994-12-23,437.080073,437.246627
3,3,3,448.713860,448.713860,441.307147,1994-12-27,436.966846,444.777697
4,4,4,444.027481,444.027481,439.770806,1994-12-28,436.853503,440.132427
...,...,...,...,...,...,...,...,...
7347,7347,7347,9688.992264,28837.382033,4691.021260,2024-02-29,17211.594107,24118.439732
7348,7348,7348,9921.755639,29530.156491,4728.586155,2024-03-01,17266.187953,24697.848743
7349,7349,7349,9886.237874,29424.444841,4722.943712,2024-03-04,17323.093142,24609.435722
7350,7350,7350,9583.923613,28524.665836,4674.802270,2024-03-05,17380.830223,23856.896338
7351,7351,7351,9731.739439,28964.610601,4698.835912,2024-03-06,17432.474832,24224.848647